@import "./node_modules/materialize-css/sass/materialize";
@import 'fonts';

html {
  font-family: AvenirNextCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #000;
}


.drop{
  position: absolute;
  top: 420px;
  font-size: 2rem;
}

.drop2{
  position: absolute;
  font-size: 2rem;
}

.container{
  padding-top: 10px;
}

.card{
  max-width: 800px;
  height: 400px;
  position: relative;
  margin: 0 auto;
 // font-family: PragatiNarrow-Regular;
}

.set-level{
  display: inline-block;
  margin-bottom: 5px;

}

.input-field{
  width: 60px;
  margin-left: 20px;
  position: relative;
}

.diff{
  position: absolute;
  top: -20px;
  font-size: 1.5rem;
}

.go{
  margin-left: 10px;
}

.bottom-buttons{
  margin-top: 70px;
}

.bottom-buttons-wrapper{
  height: 35px;
}

.check{
  margin-left: 5px;
}

.translation{
  font-size: 1.5rem;
  height: 25px;
}

.game-field-word{
  display: inline-block;
  font-size: 2rem;
}

.dropdown-trigger{
  margin-left: 10px;
}

.set-prompt i{
  font-size: 2rem;
}

.tooltipped{
  margin-right: 5px;
}

.promts{
  margin-left: 10px;
}

.audio-start i{
  font-size: 2rem;
}

.audio{
  height: 45px;
}

