@import "./node_modules/materialize-css/sass/materialize";
@import 'fonts';

html {
  font-family: PragatiNarrow-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #000;
}

.drop{
  margin: 0 auto 200px auto;
}

.drop2{
  margin: 0 auto;
}
