@import "./node_modules/materialize-css/sass/materialize";
@import 'fonts';

html {
  font-family: AvenirNextCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #000;
}

.drop{
  position: absolute;
  top: 420px;
}

.drop2{
  position: absolute;
}

.container{
  padding-top: 10px;
}

.card{
  max-width: 800px;
  height: 400px;
  position: relative;
  margin: 0 auto;
}

.set-level{
  display: flex;
}

.input-field{
  width: 60px;
  margin-left: 20px;
  position: relative;
}

.diff{
  position: absolute;
  top: -20px;
  font-size: 1.5rem;
}

.go{
  margin-left: 10px;
}

.bottom-buttons{
  margin-top: 70px;
}

.bottom-buttons-wrapper{
  height: 35px;
}

