@import "./node_modules/materialize-css/sass/materialize";
@import 'fonts';

@mixin media-1400 {
  @media (max-width: 1400px) {
    @content;
  }
}

@mixin media-1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin media-992 {
  @media (max-width: 992px) {
    @content;
  }
}

@mixin media-700 {
  @media (max-width: 700px) {
    @content;
  }
}

@mixin media-450 {
  @media (max-width: 450px) {
    @content;
  }
}

@mixin media-500 {
  @media (max-width: 500px) {
    @content;
  }
}




html {
  font-family: Montserrat !important;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 800px;
  //background-repeat: no-repeat;
  //background-size: cover;
  overflow: hidden;
  position: relative;
  @include media-1200{
    height: 700px;
  }
  @include media-992{
    height: 1200px;
  }
  @include media-450{
    height: 1600px;
  }
}

.container-background {
  max-width: 1440px;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  @include media-1200{
    height: 700px;
  }
  @include media-992{
    height: 1200px;
  }
  @include media-450{
    height: 1600px;
  }
}

.navigation {
  padding-top: 40px;
}

.background-black {
  background: linear-gradient(180deg, rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%);
  height: 100%;
  width: 100%;
}

.buttons{
  padding-left: 93px !important;
  @include media-992{
    margin-bottom: 30px;
  }
  @include media-700{
    padding-left: 10px !important;
  }
}

.btn-change-wallpaper {
  height: 44px;
  width: 44px;
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    filter: invert(20%);
  }
}

.btn-change-lang {
  height: 44px;
  width: 71px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 14px;
  padding-top: 4px;
  background: rgba(174, 181, 185, 0.5) !important;
  padding-right: 5px;
  &:hover {
    transition: 0.3s;
    filter: invert(20%);
  }
  & img{
    margin-left: 5px;
  }
}

.dropdown-content{
  width: 150px !important;
}

.preloader-wrapper {
  position: absolute;
  left: calc(50% - 25px);
  top: 200px;
}

.loader-wrapper {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.change-lang-wrapper {
  display: inline-block;
  margin-left: 10px;
}

.dropdown-content {
  border-radius: 5px;
}

.left-column{
  padding-left: 90px !important;
  @include media-700{
    padding-left: 10px !important;
  }
}

.location-info{
  font-size: 44px;
  text-transform: uppercase;
  padding-top: 11px;
  margin-bottom: 4px;
  margin-top: 0;
  @include media-1400{
    font-size: 3vw;
  }
  @include media-992{
    font-size: 40px;
  }
}

.time-info{
  font-weight: 600;
  font-size: 24px;
  & span{
    padding-right: 6px;
  }
}

.time{
  padding-left: 6px;
}

.current-weather-wrapper{
  position: relative;
}

.current-weather-img{
  width: 250px;
  margin: -75px -55px -45px -55px;
  @include media-1200{
    width: 200px;
    margin: -65px -55px -50px -55px;
  }
  @include media-700{
    margin: -45px -45px -55px -35px;
  }
  @include media-700{
    margin: -45px -45px -45px -35px;
  }
}

.cur-temp{
  margin: 0;
  font-size: 250px;
  display: inline-block;
  @include media-1400{
    font-size: 16vw;
  }
  @include media-992{
    font-size: 177px;
  }
  @include media-700{
    font-size: 18vw;
  }
  @include media-450{
    padding-top: 20px;
  }

}

.cur-temp-deg{
  font-size: 110px;
  display: inline-block;
  margin: 30px 0 0 0;
  vertical-align: top;
  z-index: 5;
}

.current-weather{
  display: flex;
 // flex-wrap: nowrap;
}

.current-weather-info{
  position: relative;
  font-size: 22px;
  z-index: 5;
  @include media-1400{
    font-size: 1.5vw;
  }
  @include media-992{
    font-size: 15px;
  }
  & p{
    margin: 5px;
  }
}

.weather-3day-wrapper{
  display: flex;
  @include media-450{
    display: block;
  }
}

.weather-3day-day{
  font-size: 22px;
  margin: 0;
}

.weather-3day-temp{
  font-size: 80px;
  margin: 0;
  display: inline-block;
  line-height: 45px;
  z-index: 5;
  @include media-1400{
    font-size: 5vw;
  }
  @include media-992{
    font-size: 7vw;
  }
  @include media-450{
    font-size: 50px;
    margin-bottom: 50px;
  }

}

.weather-3day{
  width: 33%;
  @include media-450{
    width: 90%;
  }
  & img{
    margin: -30px -20px;
    width: 50%;
    @include media-700{
      width: 40%;
      margin: -30px -20px -10px -15px;
    }
    @include media-450{
      width: 40%;
      margin: -40px -20px;
    }
  }

}

.btn-switcher{
  font-family: Montserrat;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  width: 88px;
  height: 44px;
  border-radius: 5px;
  transition: 0.3s;
  color: white;
  background: rgba(0,0,0,0.1);
  font-size: 16px;
  font-weight: bold;
  &:hover {
    transition: 0.3s;
    filter: invert(20%);
  }
}

.switcher-background{
  display: inline-block;
  position: absolute;
  height: 44px;
  width: 44px;
  left: 0;
  top: 0;
  transition: 0.3s;
  background: rgba(174, 181, 185, 0.5);
  z-index: -1;
}

.on{
  left: 50% !important;
  transition: 0.3s;
}

.empty{
  display: inline-block;
  width: 27px;
}

.searchCity{
  width: 217px !important;
  height: 44px !important;
  background: rgba(76, 82, 85, 0.4) !important;
  border: 1px solid rgba(228, 227, 227, 0.2) !important;
  padding-left: 15px !important;
  padding-right: 140px !important;
  border-radius: 5px !important;
  overflow: hidden !important;
  display: inline-block !important;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  @include media-450{
    width: 130px !important;
  }
  &::placeholder{
    color: white;
    font-size: 14px;
    font-family: Montserrat;


  }

}

.speak-btn{
  padding: 0;
  position: absolute;
  top: 16px;
  right: 110px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
  &:hover{
    transition: 0.3s;
    background-color: rgba(255,255,255,0.2);
  }
}

.speak-on{
  background-color: rgba(246, 36, 89, 0.5) !important;
}

.searchCity-btn{
  font-family: Montserrat;
  font-size: 14px;
  color: white;
  border: none;
  width: 100px;
  height: 46px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(174, 181, 185, 0.5) !important;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    filter: invert(20%);
  }
}
.input-wrapper{
  position: relative;
  display: inline-block;
}

.search-col{
  text-align: right;
  padding-right: 90px !important;
  @include media-992{
    text-align: left;
    padding-right: 0px !important;
    padding-left: 90px !important;
  }
  @include media-700{
    padding-left: 10px !important;
  }
}

.map-col{
  text-align: right;
  padding-right: 90px !important;
  @include media-992{
    text-align: left;
    padding-right: 0px !important;
    padding-left: 90px !important;
  }
  @include media-700{
    padding-left: 10px !important;
  }
}

.mapboxgl-map{
  width: 375px;
  height: 398px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  @include media-1400{
    width: 300px;
    height: 320px;
  }
  @include media-1200{
    width: 250px;
    height: 265px;
  }
  @include media-992{
    width: 300px;
    height: 320px;
  }
}


.map-container{
  display: inline-block;
  margin-top: 130px;
  position: relative;
  @include media-992{
    margin-top: 30px;
  }
}

.geo-position{
  //display: inline-block;
  position: absolute;
  bottom: -50px;
  right: 0px;
  font-size: 20px;
  text-align: right;
}

.mapboxgl-ctrl-bottom-right > .mapboxgl-ctrl-attrib.mapboxgl-compact:after {
  opacity: 0;
}

