@import "./node_modules/materialize-css/sass/materialize";
@import 'var';
@import 'mixin';
@import 'fonts';

@mixin media-1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

html {
  font-family: Montserrat !important;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
}

.container {
  max-width: 1440px;
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

}

.navigation {
  padding-top: 40px;
}

.background-black {
  background: linear-gradient(180deg, rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%);
  height: 100%;
  width: 100%;
}

.buttons{
  padding-left: 93px !important;
}

.btn-change-wallpaper {
  height: 44px;
  width: 44px;
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    filter: invert(20%);
  }
}

.btn-change-lang {
  height: 44px;
  width: 71px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 14px;
  padding-top: 4px;
  background: rgba(174, 181, 185, 0.5) !important;
  padding-right: 5px;
  &:hover {
    transition: 0.3s;
    filter: invert(20%);
  }
  & img{
    margin-left: 5px;
  }
}

.dropdown-content{
  width: 150px !important;
}

.preloader-wrapper {
  position: absolute;
  left: calc(50% - 25px);
  top: 200px;
}

.loader-wrapper {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.change-lang-wrapper {
  display: inline-block;
  margin-left: 10px;
}

.dropdown-content {
  border-radius: 5px;
}

.left-column{
  padding-left: 90px !important;
}

.location-info{
  font-size: 44px;
  text-transform: uppercase;
  padding-top: 11px;
  margin-bottom: 4px;
}

.time-info{
  font-weight: 600;
  font-size: 24px;
  & span{
    padding-right: 6px;
  }
}

.time{
  padding-left: 6px;
}

.current-weather-wrapper{
  position: relative;
}

.current-weather-img{
  position: absolute;
  width: 265px;
  top: -205px;
  right: -50px;
  z-index: 4;
}
.cur-temp{
  margin: 0;
  font-size: 280px;
  line-height: 350px;
  display: inline-block;
  z-index: 5;
}

.cur-temp-deg{
  font-size: 110px;
  display: inline-block;
  margin: 30px 0 0 0;
  vertical-align: top;
  z-index: 5;
}

.current-weather{
  display: flex;
  //justify-content: space-between;
  flex-wrap: nowrap;
}

.current-weather-info{
  position: relative;
  align-self: center;
  font-size: 22px;
  z-index: 5;
  margin-top: 100px;
  & p{
    margin: 5px;
  }
}

.weather-3day-wrapper{
  display: flex;
  flex-wrap: nowrap;
}

.weather-3day-day{
  font-size: 22px;
}

.weather-3day-temp{
  font-size: 80px;
  margin: 0;
  display: inline-block;
  line-height: 45px;
  z-index: 5;

}

.weather-3day{
  position: relative;
  width: 33%;
  & img{
    position: absolute;
    width: 120px;
    right: 25px;
    top: 25px;
    z-index: 4;
  }
}

.btn-switcher{
  font-family: Montserrat;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  width: 88px;
  height: 44px;
  border-radius: 5px;
  transition: 0.3s;
  color: white;
  background: rgba(0,0,0,0.1);
  font-size: 16px;
  font-weight: bold;
  &:hover {
    transition: 0.3s;
    filter: invert(20%);
  }
}

.switcher-background{
  display: inline-block;
  position: absolute;
  height: 44px;
  width: 44px;
  left: 0;
  top: 0;
  transition: 0.3s;
  background: rgba(174, 181, 185, 0.5);
  z-index: -1;
}

.on{
  left: 50% !important;
  transition: 0.3s;
}

.empty{
  display: inline-block;
  width: 27px;
}

