@import "./node_modules/materialize-css/sass/materialize";
@import 'var';
@import 'mixin';
@import 'fonts';

@mixin media-1200{
  @media (max-width: 1200px) {
    @content;
  }
}

.container{
 max-width: 1200px;
   width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

}

.navigation{
  padding-top: 20px;
}

.background-black{
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
}

.btn-flat{
border: 1px solid rgba(255,255,255,0.7);
  background-color: rgba(255,255,255,0.3) !important;
  margin-left: 5px;
  transition: 0.3s;
  &:hover{
    background-color: rgba(255,255,255,0) !important;
    transition: 0.3s;
  }
}

.preloader-wrapper{
  position: absolute;
  left: calc(50% - 25px);
  top: 200px;
}

.loader-wrapper{
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
  z-index: 100;
}

.change-lang-wrapper{
  display: inline-block;
}

.dropdown-content{
  border-radius: 5px;
}

