$tablet-width: 930px;

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

.keyboard-container {
  position: relative;
}

.keyboard__key {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  @include media-tablet {
    font-size: 10px;
  }
}

.keyboard {
  //margin: 0 auto;
  z-index: 100;
  position: absolute;
  left: calc(50% - 350px);
  opacity: 0.9;
  padding-top: 10px;
  height: 230px;
  width: 700px;
  background: #87d9e8;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  @include media-tablet {
    padding-top: 10px;
    height: 170px;
    width: 520px;
  }
}

.keyboard__keys {
  text-align: center;
}

.keyboard__key {
  height: 40px;
  width: 40px;
  margin: 1px;
  border-radius: 3px;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.3);
  // font-size: 2rem;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 0;
  transition: all 0.2s;
  @include media-tablet {
    height: 30px;
    width: 30px;
    margin: 1px;
  }

  &:active {
    background: rgba(0, 0, 0, 0.5);
  }
}

.keyboard__key--wide {
  width: 86px;
  @include media-tablet {
    width: 63px;
  }
}

.keyboard__key--extra-wide {
  width: 225px;
  @include media-tablet {
    width: 165px;
  }
}

.keyboard__key--active {
  background: rgba(0, 0, 0, 0.5);
}
