@import "./node_modules/materialize-css/sass/materialize";
@import 'var';
@import 'mixin';
@import 'fonts';

.page-footer{
  padding-top: 5px;
}

.fa-film{
  font-size: 30px;
  padding-top: 2px;
}
.progress{
  height: 2px;
  background-color: white;
  top: -9px;
  margin: 0;
}

