@import "./node_modules/materialize-css/sass/materialize";
//@import "./node_modules/swiper/swiper";
//@import "./node_modules/swiper/components/navigation/navigation";
@import 'swiper';
@import 'var';
@import 'mixin';
@import 'fonts';

@mixin media-900{
  @media (max-width: 900px) {
    @content;
  }
}

@mixin media-600{
  @media (max-width: 600px) {
    @content;
  }
}

@mixin media-1750{
  @media (max-width: 1750px) {
    @content;
  }
}

.page-footer {
  padding-top: 5px;
}

.fa-film {
  font-size: 30px;
  padding-top: 2px;
}

.progress {
  height: 2px;
  background-color: white;
  top: -9px;
  margin: 0;
}

.delete {
  opacity: 0.6;
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 10px;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    opacity: 1;
  }

  &:active {
    transition: 0.2s;
    color: blue !important;
  }
}

.input-field {
  padding-right: 35px !important;
}

.submit {
  transition: 0.2s;

  &:active {
    transition: 0.2s;
    background-color: blue;
  }
}

.section .row {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.disable {
  display: none;
}

.hidden {
  opacity: 0;
}

.message {
  height: 25px;
}

.poster {
  border-radius: 2px;
  width: inherit;
  height: auto;
}
.swiper-slide{
  border-radius: 5px;
}

.no-poster {
  position: absolute;
  top: 0;
  left: calc(50% - 65px);
  z-index: -1;
}

.title-container {
  height: 35px;
}
.slide-title{
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: underline;
  user-select: none;
  &:hover{
    transition: 0.2s;
    color: blue;
  }
}

.slide-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  height: 50px;
}
.star{
  margin-left: 5px;
}
.swiper-slide{
  background-color: #ebebf380;
}
.more-info{
 // height: 50px;
}

.swiper-container {
  width: 90%;
  //height: 570px;
  padding-bottom: 30px;
  @include media-900{
    width: 85%;
  }
  @include media-600{
    width: 75%;
  }
}

.poster-container {
  position: relative;
  //height: 420px;
  width: inherit;
  overflow: hidden;
}
