@import "./node_modules/materialize-css/sass/materialize";
//@import "./node_modules/swiper/swiper";
//@import "./node_modules/swiper/components/navigation/navigation";
@import 'swiper';
@import 'var';
@import 'mixin';
@import 'fonts';

.page-footer{
  padding-top: 5px;
}

.fa-film{
  font-size: 30px;
  padding-top: 2px;
}
.progress{
  display: none;
  height: 2px;
  background-color: white;
  top: -9px;
  margin: 0;
}
.delete{
  opacity: 0.6;
  cursor: pointer;
  position: absolute;
  top: 17px;
  right: 15px;
  transition: 0.3s;
  &:hover{
    transition: 0.3s;
    opacity: 1;
  }
}
.input-field{
  padding-right: 35px !important;
}


.swiper-container {
  width: 800px;
  height: 100px;
  padding-bottom: 30px;
}
